/* CSS Document */


	.box{
		padding-left:10%;
		padding-right:10%;
	}
	
	h4,p,.box ul{
	margin:0px;
	padding:0px;
	}
	.li{
		font-size£º12px;
		clear:both;
		line-height:21px;
		padding-left:9px;
		list-style-type:none;
		color:#2b2b2b;
	}
	.li p{
		line-height:21px;
		color:#525252;
		text-indent:2em;
	}
	.li img{
		float:left;
		margin-top:3px;
		margin-right:8px;
		border£º1px solid #dcdddd;
		padding:2px;
		width:121px;
		height:140px;
	}
	a{
		color:blue;
		
		text-decoration:none;
	}
	.li h4{
		font-size:12px;
		line-height:21px;
		color:#eb6101;	
	}
	.li span{
		color:red;
	}
	.navigation li a{
		color:#blue;	
	}
